[submodule "smap_core"]
	path = smap_core
	url = https://github.com/lucyannofrota/smap_core.git

[submodule "smap_interfaces"]
	path = smap_interfaces
	url = https://github.com/lucyannofrota/smap_interfaces.git

[submodule "smap_sampler"]
	path = smap_sampler
	url = https://github.com/lucyannofrota/smap_sampler.git

[submodule "smap_perception"]
	path = smap_perception
	url = https://github.com/lucyannofrota/smap_perception.git